
.sidebar__sugestoes__perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: .8rem 0; 
    width: 100%;
}

.sidebar__sugestoes__perfil > a{
    text-decoration: none;
    
    font-size: 1.2rem;
    font-weight: 500;
    
    color: var(--link-azul);
}